@media screen and (max-width: 549px) {
    .container {
        margin: 30px 5px 0;
    }
    #restaurants-list li {
        width: calc(100% - 30px)
    }
    #map {
        flex: 100%;
        max-width: 100%;
        background-color: #ccc;
    }
}

@media screen and (min-width: 550px) {
    .container {
        margin: 30px 15px 0px;
    }
    #restaurants-list li {
        width: calc(50% - 30px);
    }
    #map {
        flex: 100%;
        max-width: 100%;
        background-color: #ccc;
    }
}

@media screen and (min-width: 700px) {
    #restaurants-list li {
        width: calc(25% - 30px);
    }
    #map {
        flex: 100%;
        max-width: 100%;
        background-color: #ccc;
    }
}

@media screen and (min-width: 850px) {
    #restaurants-list li {
        width: calc(20% - 30px);
    }
    #map {
        flex: 100%;
        max-width: 100%;
        background-color: #ccc;
    }
}